In [2]:
import pymysql
db = pymysql.connect(host= "cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020", database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT VERSION();"
cursor.execute(sql)
result = cursor.fetchone()
print(result)

('5.7.18-20170830-log',)

In [5]:
#  lab08-1
sql1 = "SELECT * FROM bicycle_train LIMIT 17,5"
cursor.execute(sql1)
result1 = cursor.fetchall()
print(result1)

((18, 1, 17, 1, 8, 4, 1, 2, 75), (19, 1, 1, 1, 18, 19, 1, 3, 5), (20, 1, 7, 0, 23, 25, 2, 1, 13), (21, 0, 9, 0, 25, 27, 1, 0, 67), (22, 0, 16, 1, 11, 11, 3, 2, 76))

In [12]:
# lab08-2

sql2_1 = "SELECT MAX(wind) FROM bicycle_train "
sql2_2 = "SELECT MIN(wind) FROM bicycle_train "
cursor.execute(sql2_1)
result2_1 = cursor.fetchone()
cursor.execute(sql2_2)
result2_2 = cursor.fetchone()
print("风级范围是：{}--{}".format(result2_2[0], result2_1[0]))

风力范围是：0--7

In [4]:
# lab08-3

sql3 = "SELECT AVG(temp_air) FROM bicycle_train where city=0 AND hour=10 AND weather=1 AND (wind=0 OR wind=1) AND y >= 100"
cursor.execute(sql3)
result3 = cursor.fetchone()
print(float(result3[0]))

20.6

In [8]:
# lab08-4

sql4 = "SELECT temp_air FROM bicycle_train where city=0 AND hour=10 AND weather=1 AND (wind=0 OR wind=1) AND y >= 100"
cursor.execute(sql4)
result4 = cursor.fetchall()
var = sum((i[0] - float(result3[0]))**2 for i in result4) / len(result4)
print(var)

37.64

In [10]:
# lab08-5

sql5 = "SELECT city, SUM(y) FROM bicycle_train where is_workday=1 AND weather=3 GROUP BY city ORDER BY SUM(y) DESC "
cursor.execute(sql5)
result5 = cursor.fetchall()
print(result5)
print("上海为{}。北京为{}".format(result5[0][1], result5[1][1]))

上海为9106。北京为8084

In [16]:
# lab08-6

sql6 = "SELECT hour, ROUND(AVG(y)) FROM bicycle_train where is_workday=1 AND temp_body<=10 AND hour>=17 AND hour<=19 AND city=1 GROUP BY hour ORDER BY AVG(y)"
cursor.execute(sql6)
result6 = cursor.fetchall()
print(result6)
print("{}时{}辆, {}时{}辆, {}时{}辆".format(result6[0][0], result6[0][1], result6[1][0], result6[1][1], result6[2][0], result6[2][1]))

((19, Decimal('42')), (18, Decimal('63')), (17, Decimal('65')))
19时42辆, 18时63辆, 17时65辆